<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="LibraryService" value="https://merrillbridgewss.merrillcorp.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AuthTokenIssuer" value="https://merrillbridge.merrillcorp.com/auth" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EnableSwagger" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <log4net>
    <appender name="AzureTableAppender" xdt:Locator="Match(name)">
      <param name="TableName" value="TaxonomyConversionLogProd" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </appender>
    <root>
      <level value="ERROR" xdt:Transform="SetAttributes" />
    </root>
  </log4net>
  
</configuration>
