<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="SplunkSourceType" value="migrationapi:demo" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="LibraryService" value="https://demowss.merrillbridge.merrillcorp.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AuthTokenIssuer" value="https://demo.merrillbridge.merrillcorp.com/auth" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.serviceModel>
    <client>
      <endpoint address="https://demowss.merrillbridge.merrillcorp.com/_vti_bin/RivetLibraryService.svc" binding="ws2007HttpBinding" bindingConfiguration="RivetLibraryServiceBinding" contract="LibraryService.IRivetLibraryService" name="RivetLibraryServiceEndpoint" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint address="https://demowss.merrillbridge.merrillcorp.com/_vti_bin/RivetMembershipService.svc" binding="ws2007HttpBinding" bindingConfiguration="WS2007HttpBinding_IRivetMembershipService" contract="LibraryMembershipService.IRivetMembershipService" name="RivetMembershipServiceEndpoint" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  />
      <endpoint address="https://demowss.merrillbridge.merrillcorp.com/_vti_bin/RivetSiteService.svc" binding="ws2007HttpBinding" bindingConfiguration="WS2007HttpBinding_IRivetSiteService" contract="LibrarySiteService.IRivetSiteService" name="RivetSiteServiceEndpoint"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>
</configuration>
